@property --c-scroll-shadows-0 {
  syntax: '<color>';
  initial-value: #ffffff;
  inherits: true;
}
@property --c-scroll-shadows-2 {
  syntax: '<color>';
  initial-value: #f2f2f2;
  inherits: true;
}
@property --c-scroll-shadows-shadow {
  syntax: '<color>';
  initial-value: rgba(0, 0, 0, 0.2);
  inherits: true;
}

:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
  --c-white-highlight: #e3e3e3;

  --c-grey: #292929;
  --c-grey-soft: #343434;
  --c-grey-mute: #404040;
  --c-grey-highlight: #5d5d5d;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;
  --c-black-highlight: #454545;

  --c-divider-light-0: rgb(201, 201, 201);
  --c-divider-light-1: rgb(182, 182, 182);
  --c-divider-light-2: rgb(134, 134, 134);
  --c-divider-dark-0: rgb(140, 140, 140);
  --c-divider-dark-1: rgb(116, 116, 116);
  --c-divider-dark-2: rgb(77, 77, 77);

  --c-text-light-0: var(--c-black);
  --c-text-light-1: rgb(60, 60, 60);
  --c-text-light-2: rgb(90, 90, 90);
  --c-text-dark-0: var(--c-white);
  --c-text-dark-1: rgb(230, 230, 230);
  --c-text-dark-2: rgb(206, 206, 206);

  --c-shadow-light-0: #8b8b8b;
  --c-shadow-light-1: lightgrey;
  --c-shadow-dark-0: rgb(12, 12, 12);
  --c-shadow-dark-1: #000000;

  --fx-duration-0: 0.1s;
  --fx-duration-1: 0.2s;
  --fx-duration-2: 0.3s;

  --theme-color-transition: color var(--fx-duration-1) linear;
  --theme-border-transition: border var(--fx-duration-1) linear;
  --theme-bgc-transition: background-color var(--fx-duration-1) linear;
  --theme-bg-transition: background var(--fx-duration-1) linear;
  --theme-shadow-transition: box-shadow var(--fx-duration-1) linear;
  --theme-opacity-transition: opacity var(--fx-duration-1) linear;

  --header-height: 4rem;
  --footer-height: 4rem;

  --c-accent: #c18eda;
  --c-accent-light-0: #cca5e0;
  --c-accent-light-1: #d7b6e8;
  --c-accent-light-2: #e3c9ef;
  --c-accent-light-3: #eddaf6;
  --c-accent-light-4: #f7ebfc;

  --c-scrollbar-light: rgba(0, 0, 0, 0.2);
  --c-scrollbar-dark: rgba(255, 255, 255, 0.1);
}

:root,
.light {
  --c-background-0: var(--c-white);
  --c-background-1: var(--c-white-soft);
  --c-background-2: var(--c-white-mute);
  --c-background-3: var(--c-white-highlight);
  --c-background-transparent: #ffffffed;

  --c-border-0: var(--c-divider-light-0);
  --c-border-1: var(--c-divider-light-1);
  --c-border-2: var(--c-divider-light-2);
  --c-box-border: transparent;

  --c-text-0: var(--c-text-light-0);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);

  --c-shadow-0: var(--c-shadow-light-0);
  --c-shadow-1: var(--c-shadow-light-1);

  --c-scrollbar: var(--c-scrollbar-light);
  --c-scroll-shadows-0: #ffffff;
  --c-scroll-shadows-2: #f2f2f2;
  --c-scroll-shadows-shadow: rgba(0, 0, 0, 0.2);
}

.dark {
  --c-background-0: var(--c-grey);
  --c-background-1: var(--c-grey-soft);
  --c-background-2: var(--c-grey-mute);
  --c-background-3: var(--c-grey-highlight);
  --c-background-transparent: #292929ed;

  --c-border-0: var(--c-divider-dark-0);
  --c-border-1: var(--c-divider-dark-1);
  --c-border-2: var(--c-divider-dark-2);
  --c-box-border: transparent;

  --c-text-0: var(--c-text-dark-0);
  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);

  --c-shadow-0: var(--c-shadow-dark-0);
  --c-shadow-1: var(--c-shadow-dark-1);

  --c-scrollbar: var(--c-scrollbar-dark);
  --c-scroll-shadows-0: #292929;
  --c-scroll-shadows-2: #404040;
  --c-scroll-shadows-shadow: rgba(0, 0, 0, 1);
}

.high-contrast {
  --c-background-0: var(--c-black);
  --c-background-1: var(--c-black-soft);
  --c-background-2: var(--c-black-mute);
  --c-background-3: var(--c-black-highlight);
  --c-background-transparent: #000000ed;

  --c-border-0: var(--c-white);
  --c-border-1: var(--c-white);
  --c-border-2: var(--c-white);
  --c-box-border: var(--c-white);

  --c-text-0: var(--c-white);
  --c-text-1: var(--c-white);
  --c-text-2: var(--c-text-dark-2);

  --c-shadow-0: var(--c-shadow-dark-0);
  --c-shadow-1: var(--c-shadow-dark-1);

  --c-scrollbar: var(--c-scrollbar-dark);
  --c-scroll-shadows-0: #181818;
  --c-scroll-shadows-2: #282828;
  --c-scroll-shadows-shadow: rgba(0, 0, 0, 1);
}

/* For system default */
@media (prefers-color-scheme: dark), (prefers-contrast: more) {
  :root {
    --c-background-0: var(--c-grey);
    --c-background-1: var(--c-grey-soft);
    --c-background-2: var(--c-grey-mute);
    --c-background-3: var(--c-grey-highlight);
    --c-background-transparent: #292929ed;

    --c-border-0: var(--c-divider-dark-0);
    --c-border-1: var(--c-divider-dark-1);
    --c-border-2: var(--c-divider-dark-2);
    --c-box-border: transparent;

    --c-text-0: var(--c-text-dark-0);
    --c-text-1: var(--c-text-dark-1);
    --c-text-2: var(--c-text-dark-2);

    --c-shadow-0: var(--c-shadow-dark-0);
    --c-shadow-1: var(--c-shadow-dark-1);

    --c-scrollbar: var(--c-scrollbar-dark);
    --c-scroll-shadows-0: #292929;
    --c-scroll-shadows-2: #404040;
    --c-scroll-shadows-shadow: rgba(0, 0, 0, 1);
  }
}
@media (prefers-contrast: more) {
  :root {
    --c-background-0: var(--c-black);
    --c-background-1: var(--c-black-soft);
    --c-background-2: var(--c-black-mute);
    --c-background-3: var(--c-black-highlight);
    --c-background-transparent: #000000ed;

    --c-border-0: var(--c-white);
    --c-border-1: var(--c-white);
    --c-border-2: var(--c-white);
    --c-box-border: var(--c-white);

    --c-text-0: var(--c-white);
    --c-text-1: var(--c-white);
    --c-text-2: var(--c-text-dark-2);

    --c-shadow-0: var(--c-shadow-dark-0);
    --c-shadow-1: var(--c-shadow-dark-1);

    --c-scrollbar: var(--c-scrollbar-dark);
    --c-scroll-shadows-0: #181818;
    --c-scroll-shadows-2: #282828;
    --c-scroll-shadows-shadow: rgba(0, 0, 0, 1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--c-text-0);
  background: var(--c-background-0);
  transition: var(--theme-color-transition), var(--theme-bgc-transition);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 350px;
  min-height: 350px;
}
