@import './base.css';
@import './flags.css';

#app {
  font-weight: normal;
  min-height: 100vh;
  overflow: hidden;
}

.scroll-shadows-0 {
  background:
    linear-gradient(var(--c-background-0) 30%, rgba(255, 255, 255, 0)) center top,
    linear-gradient(rgba(255, 255, 255, 0), var(--c-background-0) 70%) center bottom,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;
}
.scroll-shadows-2 {
  background:
    linear-gradient(var(--c-background-2) 30%, rgba(255, 255, 255, 0)) center top,
    linear-gradient(rgba(255, 255, 255, 0), var(--c-background-2) 70%) center bottom,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;
}
.scroll-shadows {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background-repeat: no-repeat;
  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.mr-0p5 {
  margin-right: 0.5rem;
}
.ml-0p5 {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1p5 {
  margin-top: 1.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-0p25 {
  margin-top: 0.25rem;
}
.mt-0p1 {
  margin-top: 0.1rem;
}
.px-0p5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-0p5 {
  padding-bottom: 0.5rem;
}
.c-bg-2 {
  background-color: var(--c-background-2);
}
.flex-1 {
  flex: 1;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1p5 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.v-middle {
  vertical-align: middle;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fw-lighter {
  font-weight: lighter;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w-100p {
  width: 100%;
}
.border-b-1 {
  border-bottom: 1px solid var(--c-border-1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-75%);
}
.fade-up-enter-to,
.fade-up-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(75%);
}
.fade-down-enter-to,
.fade-down-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-slide-ltr-enter-active,
.fade-slide-ltr-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-ltr-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-ltr-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-ltr-enter-to,
.fade-slide-ltr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-slide-rtl-enter-active,
.fade-slide-rtl-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-rtl-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-rtl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtl-enter-to,
.fade-slide-rtl-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-slide-rtr-enter-active,
.fade-slide-rtr-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-slide-rtr-enter-from,
.fade-slide-rtr-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtr-enter-to,
.fade-slide-rtr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform var(--fx-transition-duration-0) linear;
}
.slide-enter-from,
.slide-leave-to {
  transform: scaleY(0);
}

.scale-fade-enter-active,
.scale-fade-leave-active {
  transition: transform var(--fx-transition-duration-2) cubic-bezier(0.53, 0, 0.53, 1);
}
.scale-fade-enter-from,
.scale-fade-leave-to {
  transform: translateY(-50%) scale(0) !important;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform 0.3s ease;
}
.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}
.slide-left-enter-to,
.slide-left-leave-from {
  transform: translateX(0%);
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media (hover: hover) {
  * {
    scrollbar-track-color: transparent;
    scrollbar-color: var(--c-scrollbar);
    scrollbar-width: 0.5rem;
  }
  *::-webkit-scrollbar {
    background-color: transparent;
    width: 0.375rem;
    height: 0.375rem;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar);
  }
}
