@import './base.css';
@import './flags.css';

#app {
  font-weight: normal;
  min-height: 100vh;
}

.scroll-shadows {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  background:
    linear-gradient(var(--c-background-2) 30%, rgba(255, 255, 255, 0)) center top,
    linear-gradient(rgba(255, 255, 255, 0), var(--c-background-2) 70%) center bottom,
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;
  background-repeat: no-repeat;
  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.mr-0p5 {
  margin-right: 0.5rem;
}
.ml-0p5 {
  margin-left: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1p5 {
  margin-top: 1.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.px-0p5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pt-2 {
  padding-top: 2rem;
}
.c-bg-2 {
  background-color: var(--c-background-2);
}
.flex-1 {
  flex: 1;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-ltr-enter-active,
.fade-slide-ltr-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-ltr-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-ltr-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-ltr-enter-to,
.fade-slide-ltr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-slide-rtl-enter-active,
.fade-slide-rtl-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-rtl-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-rtl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtl-enter-to,
.fade-slide-rtl-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform var(--fx-transition-duration-0) linear;
}
.slide-enter-from,
.slide-leave-to {
  transform: scaleY(0);
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media (hover: hover) {
  * {
    scrollbar-track-color: transparent;
    scrollbar-color: var(--c-text-2);
    scrollbar-width: 0.5rem;
  }
  *::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--c-text-2);
    border-radius: 1rem;
  }
}
