@import './base.css';
@import './flags.css';

#app {
  font-weight: normal;
  min-height: 100vh;
}

.mr-0p5 {
  margin-right: 0.5rem;
}
.ml-0p5 {
  margin-left: 0.5rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-ltr-enter-active,
.fade-slide-ltr-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-ltr-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-ltr-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-ltr-enter-to,
.fade-slide-ltr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

.fade-slide-rtl-enter-active,
.fade-slide-rtl-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-rtl-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-rtl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtl-enter-to,
.fade-slide-rtl-leave-from {
  opacity: 1;
  transform: translateX(0%);
}
