/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-up */
.fade-up-enter-active,
.fade-up-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-75%);
}
.fade-up-enter-to,
.fade-up-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-down */
.fade-down-enter-active,
.fade-down-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(75%);
}
.fade-down-enter-to,
.fade-down-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-slide-ltr */
.fade-slide-ltr-enter-active,
.fade-slide-ltr-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-ltr-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-ltr-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-ltr-enter-to,
.fade-slide-ltr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-slide-rtl */
.fade-slide-rtl-enter-active,
.fade-slide-rtl-leave-active {
  transition:
    opacity 0.75s ease,
    transform 0.75s ease;
}
.fade-slide-rtl-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-rtl-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtl-enter-to,
.fade-slide-rtl-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-slide-ltr-fast */
.fade-slide-ltr-fast-enter-active,
.fade-slide-ltr-fast-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-slide-ltr-fast-enter-from {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-ltr-fast-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-ltr-fast-enter-to,
.fade-slide-ltr-fast-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-slide-rtl--fast */
.fade-slide-rtl-fast-enter-active,
.fade-slide-rtl-fast-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-slide-rtl-fast-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-slide-rtl-fast-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtl-fast-enter-to,
.fade-slide-rtl-fast-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* fade-slide-rtr */
.fade-slide-rtr-enter-active,
.fade-slide-rtr-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.fade-slide-rtr-enter-from,
.fade-slide-rtr-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.fade-slide-rtr-enter-to,
.fade-slide-rtr-leave-from {
  opacity: 1;
  transform: translateX(0%);
}

/* slide (with vertical scale) */
.slide-enter-active,
.slide-leave-active {
  transition: transform var(--fx-duration-0) linear;
}
.slide-enter-from,
.slide-leave-to {
  transform: scaleY(0);
}

/* scale-fade */
.scale-fade-enter-active,
.scale-fade-leave-active {
  transition: transform var(--fx-duration-2) cubic-bezier(0.53, 0, 0.53, 1);
}
.scale-fade-enter-from,
.scale-fade-leave-to {
  transform: translate(-50%, -50%) scale(0) !important;
}

/* slide-left */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: transform var(--fx-duration-2) ease;
}
.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}
.slide-left-enter-to,
.slide-left-leave-from {
  transform: translateX(0%);
}

/* slide-right */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s ease;
}
.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(100%);
}
.slide-right-enter-to,
.slide-right-leave-from {
  transform: translateX(0%);
}

.list-fade-move,
.list-fade-enter-active,
.list-fade-leave-active {
  transition: all 0.5s ease;
}

.list-fade-enter-from,
.list-fade-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-fade-leave-active {
  position: absolute;
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
